In [1]:
# Requirements 
# !pip3 install pandas numpy seaborn 
import os
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
!bash RQ4_Nov19.sh

2019-Nov.csv

In [3]:
!bash RQ4_Oct19.sh

2019-Oct.csv

In [4]:
df_labels = ['2019-Oct.csv.rq4', '2019-Nov.csv.rq4']

In [5]:
def get_file_path(df_label='2019-Oct', aws=False):
    if aws:
        return f"s3://Users/tommy/Desktop/codici/datasets/{df_label}.csv"
    return f"datasets/{df_label}.csv"
#/Users/tommy/Desktop/codici/datasets/2019-Nov.csv

In [6]:
nov_rq4 = pd.read_csv('/Users/tommy/Desktop/codici/datasets/2019-Nov.csv.rq4.csv')

In [7]:
octo_rq4 = pd.read_csv('/Users/tommy/Desktop/codici/datasets/2019-Oct.csv.rq4.csv')

In [8]:
tot_rq4 = pd.concat([octo_rq4,nov_rq4]) #about a minute

In [9]:
global_revenue    =          tot_rq4[tot_rq4['event_type'] == 'purchase'].groupby('brand').price.sum()
october_revenue   = octo_rq4[octo_rq4['event_type'] == 'purchase'].groupby('brand').price.sum()
november_revenue  =  nov_rq4[nov_rq4 ['event_type'] == 'purchase'].groupby('brand').price.sum()

In [10]:

# we have got the global revenue of each brand 
# and also the revenue of sigle month

In [11]:
len(global_revenue) == len(october_revenue) #not every brand present in the global are also present 
                                            #in the october or in november

False

In [12]:
#november_revenue['a-derma']
#we noted that there are some missing values

In [13]:
#global revenues for each brand:
global_revenue

brand
a-case       1083.58
a-derma        12.36
a-elita         8.49
a-mega       1940.15
aardwolf      219.10
              ...
zotac        2185.57
zte         22528.00
zubr        16647.05
zuru           64.20
zvezda         11.97
Name: price, Length: 2713, dtype: float64

In [14]:
#RQ4.1
# Write a function that given the name of a brand in input returns, for each month, its profit.

In [15]:

def income():
    
    brand = input('Input your favourit brand!')
    try:
        print('During October the brand',brand,'gained', round(october_revenue[brand],3))
    except Exception as e:
        print(f"No sales in October")
    
    try:
        print('During November the brand',brand,'gained', round(november_revenue[brand],3))
    except Exception as e:
        print(f"No Sales in November")

In [16]:
income()

Input your favourit brand!apple
During October the brand apple gained 111209268.82
During November the brand apple gained 127512524.88

In [17]:
#RQ4.2
#Is the average price of products of different brands significantly different?
# average price of product for each brand
# we take a subset to obtain a faster code
# after taking a subset, we group by brand and take the mean of price of each brand

In [19]:
subRQ4 = tot_rq4

In [20]:
avg_price_df = subRQ4[['brand','price']].dropna()
avg_price_df.head()

      brand    price
0  shiseido    35.79
1      aqua    33.20
3    lenovo   251.74
4     apple  1081.98
5    pulser   908.62

In [21]:
# description of the distribution of every brand 
avg_price_for_all_brand = avg_price_df.groupby(['brand']).describe()
avg_price_for_all_brand.head()

            price
            count       mean        std    min    25%    50%    75%     max
brand
a-case    19503.0  12.142794  26.637865   1.21   4.09   4.61   7.31  154.44
a-derma     729.0  13.906379   4.966100   5.15   9.78  12.48  16.47   22.39
a-elita     521.0  45.051727  31.722959   8.49   8.49  73.28  73.28   73.28
a-mega     1384.0  84.286734  53.504038  25.74  56.05  66.93  87.52  218.80
aardwolf    526.0  39.057414  25.503133   8.98  23.30  25.35  78.90   84.43

In [22]:
avg_price_for_all_brand['price']['count']

brand
a-case                19503.0
a-derma                 729.0
a-elita                 521.0
a-mega                 1384.0
aardwolf                526.0
                       ...
zwerg                    18.0
zwilling                149.0
zwillingjahenckels     1136.0
zx                        9.0
zyxel                   760.0
Name: count, Length: 4302, dtype: float64

In [23]:
avg_price_for_brand = avg_price_df.groupby(['brand']).mean().describe()
avg_price_for_brand

             price
count  4302.000000
mean    173.747521
std     279.311420
min       0.970000
25%      25.804224
50%      68.732001
75%     195.247329
max    2533.238401

In [24]:
# the number speak clear:
# the mean's range is more than 2500
# the max revenue is 2533 which is equival to the 2500 % of the min, just 0.97

In [25]:
#RQ4.3
# Using the function you just created, find the top 3 brands that have suffered the biggest losses 
# in earnings between one month and the next, specifing 
# both the loss percentage and the 2 months (e.g., brand_1 lost 20% between march and april).

losses_for_month = november_revenue.divide(october_revenue).dropna()
rank_losses = losses_for_month.sort_values(ascending = True)

In [26]:
list_of_brand = rank_losses.axes[0].tolist()
list_of_brand[0]

'jonnesway'

In [27]:
round(1-rank_losses[0],2)
rank_losses

brand
jonnesway       0.033757
sunfull         0.040000
evga            0.041003
illumico        0.042754
ventura         0.049566
                ...
asm           108.001142
pinskdrev     115.462580
dinastia      133.585617
delta         774.262125
melitta      1936.160000
Name: price, Length: 1756, dtype: float64

In [28]:
def worst_brand():
    losses_for_month = november_revenue.divide(october_revenue).dropna()
    rank_losses = losses_for_month.sort_values(ascending = True)
    list_of_brand = rank_losses.axes[0].tolist()
    print(list_of_brand[0],' lost ',round(1-rank_losses[0],2)*100,'% beetween October and November\n',
          list_of_brand[1],' lost ',round(1-rank_losses[1],2)*100,'% beetween October and November\n',
          list_of_brand[2],' lost ',round(1-rank_losses[2],2)*100,'% beetween October and November', sep = '')
worst_brand()

jonnesway lost 97.0% beetween October and November
sunfull lost 96.0% beetween October and November
evga lost 96.0% beetween October and November