In [1]:
# Requirements 
# !pip3 install pandas numpy seaborn 
import os
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
import seaborn as sns

In [9]:
!bash RQ6_Nov19.sh
!bash RQ6_Oct19.sh

2019-Nov.csv
2019-Oct.csv

In [10]:
df_labels = ['2019-Oct.csv.rq6', '2019-Nov.csv.rq6']

In [11]:
def get_file_path(df_label='2019-Oct', aws=False):
    if aws:
        return f"s3://Users/tommy/Desktop/codici/datasets/{df_label}.csv"
    return f"datasets/{df_label}.csv"

In [12]:
nov_rq6 = pd.read_csv('/Users/tommy/Desktop/codici/datasets/2019-Nov.csv.rq6.csv')

In [13]:
octo_rq6 = pd.read_csv('/Users/tommy/Desktop/codici/datasets/2019-Oct.csv.rq6.csv')

In [14]:
tot_rq6 = pd.concat([octo_rq6,nov_rq6]) #about a minute

In [15]:
tot_rq6.head()

  event_type  product_id                        category_code    user_id
0       view    44600062                                  NaN  541312140
1       view     3900821  appliances.environment.water_heater  554748717
2       view    17200506           furniture.living_room.sofa  519107250
3       view     1307067                   computers.notebook  550050854
4       view     1004237               electronics.smartphone  535871217

In [16]:
subRQ6 = tot_rq6

In [17]:
subRQ6.head()

  event_type  product_id                        category_code    user_id
0       view    44600062                                  NaN  541312140
1       view     3900821  appliances.environment.water_heater  554748717
2       view    17200506           furniture.living_room.sofa  519107250
3       view     1307067                   computers.notebook  550050854
4       view     1004237               electronics.smartphone  535871217

In [18]:
# obtaining the number of product sold:
# by taking only rows about purchasing
# and at the end we count them (.shape[0])
# shape[0] are the rows of the dataset where the event is equal to purchase
# so it rapresents the product sold

df_prod_sold =  subRQ6[subRQ6['event_type']=='purchase']
prod_sold = df_prod_sold.shape[0]

In [19]:
prod_sold

1659788

In [20]:
# in a similar way we calculate the number of user:
# this time we group by 'user_id' so we obtain the exact users's number
# we extract that number by the command shape[0] (number of rows)
users = subRQ6.groupby('user_id').product_id.count().shape[0]

In [21]:
users

5316649

In [22]:
#finally we calculate the actual purchase rate value
purchase_rate = prod_sold/users
round(purchase_rate,4)

0.3122

In [23]:
#same think of before
df_views = subRQ6[subRQ6['event_type']=='view']
views = df_views.shape[0]

In [24]:
#conversion rate calculated by following the previous formula
conversion_rate = purchase_rate / views
conversion_rate

2.992144008055359e-09