In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# 10.37

In [3]:
nov = pd.read_csv('C:/Users/lucas/OneDrive/Desktop/codici/2019-Nov.csv', header='infer',
parse_dates=['event_time'],
date_parser=pd.to_datetime)
#10.47 10 min more or less

In [4]:
nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67501979 entries, 0 to 67501978
Data columns (total 9 columns):
event_time       datetime64[ns, UTC]
event_type       object
product_id       int64
category_id      int64
category_code    object
brand            object
price            float64
user_id          int64
user_session     object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 4.5+ GB

In [5]:
octo = pd.read_csv('C:/Users/lucas/OneDrive/Desktop/codici/2019-Oct.csv', header='infer',
parse_dates=['event_time'],
date_parser=pd.to_datetime)
#10.51

In [6]:
type(octo) == type(nov)

True

In [7]:
#strarts at 10.54
tot = pd.concat([octo,nov]) #about a minute

In [8]:
tot.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00+00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00+00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01+00:00,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01+00:00,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04+00:00,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [9]:
tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109950743 entries, 0 to 67501978
Data columns (total 9 columns):
event_time       datetime64[ns, UTC]
event_type       object
product_id       int64
category_id      int64
category_code    object
brand            object
price            float64
user_id          int64
user_session     object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 8.2+ GB

In [18]:
subRQ_i = tot[['event_type', 'product_id','user_id','category_code']] #10.57
# a minute or two

In [20]:
#df_prod_sold['category_code'] = [el.split('.')[0] for el in list(df_prod_sold['category_code']) if type(el) == str]
subRQ6 = subRQ_i.dropna()
subRQ6['category_code'] = [el.split('.')[0] for el in list(subRQ6['category_code']) if type(el) == str]
# more or less 2 minutes

C:\Users\lucas\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
subRQ6.head()

  event_type  product_id    user_id category_code
1       view     3900821  554748717    appliances
2       view    17200506  519107250     furniture
3       view     1307067  550050854     computers
4       view     1004237  535871217   electronics
5       view     1480613  512742880     computers

In [26]:
#RQ1.0 
#rate of complete funnels 
# a funnel is complete when a person view add to cart and purchase a product 
# starting idea is to take a dictionary with people and appending it action (event type)
# based on product

In [ ]:
#RQ1.1
# operation that a user repeat more in a session
# could be fun create a for loop that do following rows automatically but 
# i didnt find the way

# we start by creating a list which has all possible action
# we subset to obtain 3 different subset divided for different action
# we group in order to obtain a dataset for each action
# than we count the (views, purchases, carts) and we take the mean for each session

In [74]:
#we extract every type of action present in data
allType = list(pd.unique(tot['event_type']))

In [86]:
view_for_session = tot[tot['event_type'] == str(allType[1])].groupby('user_session').event_type.count().mean()

In [87]:
purchase_for_session = tot[tot['event_type'] == str(allType[1])].groupby('user_session').event_type.count().mean()

In [88]:
cart_for_session = tot[tot['event_type'] == str(allType[2])].groupby('user_session').event_type.count().mean()

In [ ]:
#TODO plot with (view_for_session,purchase_for_session, cart_for_session) (views,purchases,cart)

In [ ]:
#RQ1.2 
#How many times, on average, a user views a product before adding it to the cart

In [ ]:
#RQ4
# How much does each brand earn per month? 
# Write a function that given the name of a brand in input returns, for each month, its profit. 
#Is the average price of products of different brands significantly different?
#Using the function you just created, find the top 3 brands that have suffered the biggest 
#losses in earnings between one month and the next, specifing bothe the loss percentage 
#and the 2 months (e.g., brand_1 lost 20% between march and april).

In [ ]:
#RQ4.0
#How much does each brand earn per month?

In [10]:
subRQ4      =  tot[['event_type','price','category_code','product_id','brand']]
subRQ4_octo = octo[['event_type','price','category_code','product_id','brand']]
subRQ4_nov  =  nov[['event_type','price','category_code','product_id','brand']]

In [11]:
global_revenue    =          subRQ4[subRQ4 ['event_type'] == 'purchase'].groupby('brand').price.sum()
october_revenue   = subRQ4_octo[subRQ4_octo['event_type'] == 'purchase'].groupby('brand').price.sum()
november_revenue  =  subRQ4_nov[subRQ4_nov ['event_type'] == 'purchase'].groupby('brand').price.sum()

In [12]:
# we have got the global revenue of each brand 
# and also the revenue of sigle month

In [138]:
len(global_revenue) == len(october_revenue) #not every brand present in the global are also present 
                                            #in the october or in november

False

In [140]:
#november_revenue['a-derma']
#we noted that there are some missing values

In [161]:
#global revenues for each brand:
global_revenue

brand
a-case       1083.58
a-derma        12.36
a-elita         8.49
a-mega       1940.15
aardwolf      219.10
              ...
zotac        2185.57
zte         22528.00
zubr        16647.05
zuru           64.20
zvezda         11.97
Name: price, Length: 2713, dtype: float64

In [ ]:
#RQ4.1
# Write a function that given the name of a brand in input returns, for each month, its profit.

In [31]:
def income():
    brand = input()
    try:
            if int(october_revenue[brand]) >=0:
                print('During October the brand',brand,'gained', october_revenue[brand])
            if int(november_revenue[brand]) >= 0:
                print('During November the brand',brand,'gained', november_revenue[brand]
    except (TypeError, IndexError):
                    print('Brand has not been found')

                      
#try:
 #       if int(october_revenue[brand]) >= 0:
  #          ...
   # except (TypeError, IndexError):
        #print("Brand has not been found")

SyntaxError: invalid syntax (<ipython-input-31-040ad29bca6d>, line 8)

In [14]:
income()

NameError: name 'income' is not defined