In [5]:
import pandas as pd
import numpy as np
import math

In [6]:
# 10.37

In [7]:
nov = pd.read_csv('C:/Users/lucas/OneDrive/Desktop/codici/2019-Nov.csv', header='infer',
parse_dates=['event_time'],
date_parser=pd.to_datetime)
#10.47 10 min more or less

In [8]:
nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67501979 entries, 0 to 67501978
Data columns (total 9 columns):
event_time       datetime64[ns, UTC]
event_type       object
product_id       int64
category_id      int64
category_code    object
brand            object
price            float64
user_id          int64
user_session     object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 4.5+ GB

In [9]:
octo = pd.read_csv('C:/Users/lucas/OneDrive/Desktop/codici/2019-Oct.csv', header='infer',
parse_dates=['event_time'],
date_parser=pd.to_datetime)
#10.51

In [10]:
type(octo) == type(nov)

True

In [12]:
#strarts at 10.54
tot = pd.concat([octo,nov]) #about a minute

In [12]:
tot.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00+00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00+00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01+00:00,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01+00:00,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04+00:00,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [14]:
tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109950743 entries, 0 to 67501978
Data columns (total 9 columns):
event_time       datetime64[ns, UTC]
event_type       object
product_id       int64
category_id      int64
category_code    object
brand            object
price            float64
user_id          int64
user_session     object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 8.2+ GB

In [15]:
subRQ_i = tot[['event_type', 'product_id','user_id','category_code']] #10.57
# a minute or two

In [16]:
#df_prod_sold['category_code'] = [el.split('.')[0] for el in list(df_prod_sold['category_code']) if type(el) == str]
subRQ6 = subRQ_i.dropna()
subRQ6['category_code'] = [el.split('.')[0] for el in list(subRQ6['category_code']) if type(el) == str]
# more or less 2 minutes

C:\Users\lucas\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
subRQ6.head()

  event_type  product_id    user_id category_code
1       view     3900821  554748717    appliances
2       view    17200506  519107250     furniture
3       view     1307067  550050854     computers
4       view     1004237  535871217   electronics
5       view     1480613  512742880     computers

In [18]:
#RQ1.0 
#rate of complete funnels 
# a funnel is complete when a person view add to cart and purchase a product 
# starting idea is to take a dictionary with people and appending it action (event type)
# based on product

In [19]:
#RQ1.1
# operation that a user repeat more in a session
# could be fun create a for loop that do following rows automatically but 
# i didnt find the way

# we start by creating a list which has all possible action
# we subset to obtain 3 different subset divided for different action
# we group in order to obtain a dataset for each action
# than we count the (views, purchases, carts) and we take the mean for each session

In [20]:
#we extract every type of action present in data
allType = list(pd.unique(tot['event_type']))

In [21]:
view_for_session = tot[tot['event_type'] == str(allType[1])].groupby('user_session').event_type.count().mean()

In [22]:
purchase_for_session = tot[tot['event_type'] == str(allType[1])].groupby('user_session').event_type.count().mean()

In [23]:
cart_for_session = tot[tot['event_type'] == str(allType[2])].groupby('user_session').event_type.count().mean()

In [24]:
#TODO plot with (view_for_session,purchase_for_session, cart_for_session) (views,purchases,cart)

In [ ]:
#RQ1.2 
#How many times, on average, a user views a product before adding it to the cart

In [ ]:
#RQ4
# How much does each brand earn per month? 
# Write a function that given the name of a brand in input returns, for each month, its profit. 
#Is the average price of products of different brands significantly different?
#Using the function you just created, find the top 3 brands that have suffered the biggest 
#losses in earnings between one month and the next, specifing bothe the loss percentage 
#and the 2 months (e.g., brand_1 lost 20% between march and april).

In [ ]:
#RQ4.0
#How much does each brand earn per month?

In [13]:
subRQ4      =  tot[['event_type','price','category_code','product_id','brand']]
subRQ4_octo = octo[['event_type','price','category_code','product_id','brand']]
subRQ4_nov  =  nov[['event_type','price','category_code','product_id','brand']]

In [14]:
global_revenue    =          subRQ4[subRQ4 ['event_type'] == 'purchase'].groupby('brand').price.sum()
october_revenue   = subRQ4_octo[subRQ4_octo['event_type'] == 'purchase'].groupby('brand').price.sum()
november_revenue  =  subRQ4_nov[subRQ4_nov ['event_type'] == 'purchase'].groupby('brand').price.sum()

In [27]:
# we have got the global revenue of each brand 
# and also the revenue of sigle month

In [15]:
len(global_revenue) == len(october_revenue) #not every brand present in the global are also present 
                                            #in the october or in november

False

In [140]:
#november_revenue['a-derma']
#we noted that there are some missing values

In [75]:
#global revenues for each brand:
global_revenue

brand
a-case       1083.58
a-derma        12.36
a-elita         8.49
a-mega       1940.15
aardwolf      219.10
              ...
zotac        2185.57
zte         22528.00
zubr        16647.05
zuru           64.20
zvezda         11.97
Name: price, Length: 2713, dtype: float64

In [30]:
#RQ4.1
# Write a function that given the name of a brand in input returns, for each month, its profit.

In [86]:
def income():
    
    brand = input('Input your favourit brand!')
    try:
        print('During October the brand',brand,'gained', round(october_revenue[brand],3))
    except Exception as e:
        print(f"No sales in October")
    
    try:
        print('During November the brand',brand,'gained', round(november_revenue[brand],3))
    except Exception as e:
        print(f"No Sales in November")

In [87]:
income()

Input your favourit brand!apple
During October the brand apple gained 111209268.82
During November the brand apple gained 127512524.88

In [18]:
#RQ4.2
#Is the average price of products of different brands significantly different?

In [19]:
# average price of product for each brand
# we take a subset to obtain a faster code

In [20]:
# after taking a subset, we group by brand and take the mean of price of each brand

In [89]:
avg_price_df = subRQ4[['brand','price']].dropna()

In [90]:
avg_price_df.head()

      brand    price
0  shiseido    35.79
1      aqua    33.20
3    lenovo   251.74
4     apple  1081.98
5    pulser   908.62

In [101]:
# description of the distribution of every brand 
avg_price_for_all_brand = avg_price_df.groupby(['brand']).describe()

In [102]:
avg_price_for_all_brand.head()

            price
            count       mean        std    min    25%    50%    75%     max
brand
a-case    19503.0  12.142794  26.637865   1.21   4.09   4.61   7.31  154.44
a-derma     729.0  13.906379   4.966100   5.15   9.78  12.48  16.47   22.39
a-elita     521.0  45.051727  31.722959   8.49   8.49  73.28  73.28   73.28
a-mega     1384.0  84.286734  53.504038  25.74  56.05  66.93  87.52  218.80
aardwolf    526.0  39.057414  25.503133   8.98  23.30  25.35  78.90   84.43

In [104]:
avg_price_for_all_brand['price']['count']

brand
a-case                19503.0
a-derma                 729.0
a-elita                 521.0
a-mega                 1384.0
aardwolf                526.0
                       ...
zwerg                    18.0
zwilling                149.0
zwillingjahenckels     1136.0
zx                        9.0
zyxel                   760.0
Name: count, Length: 4302, dtype: float64

In [105]:
avg_price_for_brand = avg_price_df.groupby(['brand']).mean().describe()
avg_price_for_brand

             price
count  4302.000000
mean    173.747521
std     279.311420
min       0.970000
25%      25.804224
50%      68.732001
75%     195.247329
max    2533.238401

In [35]:
# the number speak clear:
# the mean's range is more than 2500
# the max revenue is 2533 which is equival to the 2500 % of the min, just 0.97

In [ ]:
#RQ4.3
# Using the function you just created, find the top 3 brands that have suffered the biggest losses 
# in earnings between one month and the next, specifing 
# both the loss percentage and the 2 months (e.g., brand_1 lost 20% between march and april).

In [38]:
losses_for_month = november_revenue.divide(october_revenue).dropna()

In [50]:
rank_losses = losses_for_month.sort_values(ascending = True)

In [67]:
list_of_brand = rank_losses.axes[0].tolist()
list_of_brand[0]

'jonnesway'

In [70]:
round(1-rank_losses[0],2)

0.97

In [71]:
rank_losses

brand
jonnesway       0.033757
sunfull         0.040000
evga            0.041003
illumico        0.042754
ventura         0.049566
                ...
asm           108.001142
pinskdrev     115.462580
dinastia      133.585617
delta         774.262125
melitta      1936.160000
Name: price, Length: 1756, dtype: float64

In [114]:
def worst_brand():
    losses_for_month = november_revenue.divide(october_revenue).dropna()
    rank_losses = losses_for_month.sort_values(ascending = True)
    list_of_brand = rank_losses.axes[0].tolist()
    print(list_of_brand[0],' lost ',round(1-rank_losses[0],2)*100,'% beetween October and November\n',
          list_of_brand[1],' lost ',round(1-rank_losses[1],2)*100,'% beetween October and November\n',
          list_of_brand[2],' lost ',round(1-rank_losses[2],2)*100,'% beetween October and November', sep = '')

In [115]:
worst_brand()

jonnesway lost 97.0% beetween October and November
sunfull lost 96.0% beetween October and November
evga lost 96.0% beetween October and November