In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
#path's csv file, 
nov = pd.read_csv('/Users/tommy/Desktop/codici/archive/2019-Nov.csv', header='infer',
parse_dates=['event_time'],
date_parser=pd.to_datetime)

In [67]:
nov.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00+00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00+00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01+00:00,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01+00:00,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01+00:00,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [90]:
#let's take only data regarding a product sold
consumers =  nov[nov['event_type']=='purchase']

In [91]:
consumers.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
107,2019-11-01 00:00:41+00:00,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a
168,2019-11-01 00:01:04+00:00,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d
707,2019-11-01 00:04:51+00:00,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d
811,2019-11-01 00:05:34+00:00,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927
939,2019-11-01 00:06:33+00:00,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e

In [104]:
total_revenues = consumers['price'].sum()
total_revenues

275194890.50000006

In [122]:
#calculating how much every user spent
spent_by_user = consumers.groupby('user_id').price.sum()

In [123]:
#ranking of consumer
spent_by_user.sort_values(ascending = False)

user_id
518514099    203986.07
512386086    161682.49
564068124    131929.20
515715331    117130.12
521230795    111072.35
               ...
524830675         0.87
517557126         0.87
524474267         0.83
513378422         0.79
520573734         0.77
Name: price, Length: 441638, dtype: float64

In [154]:
#sorting by the amount spend
best_buyer = (spent_by_user.sort_values(ascending = False)).to_frame()

In [155]:
best_buyer['price'].sum()

275194890.50000006

In [126]:
#how  users bought someting
len(best_buyer)

441638

In [127]:
#first 20% of buyers 
len(best_buyer)*0.2

88327.6

In [156]:
#position of first 20 % of buyers
top_20 = int(len(best_buyer)*0.20)-1
top_20

88326

In [157]:
#how much the best buyers spent togethere
amount_top = best_buyer.head(top_20)['price'].sum()
amount_top

191641013.45

In [158]:
#for november data the amount is not respected very well infact 
#the first 20% of buyers spent the  70% of the total revenues
#not the 80%
pareto = amount_top/total_revenues
pareto

0.6963828910551664